:root{
    --main-btn-bg: rgba(7, 138, 226, 0.8);
    --main-btn-font-color: #fff;
    --main-btn-border-color: rgba(0, 0, 0, 0.1);
    --main-btn-hover-bg: rgba(0, 100, 168, 0.8);
    --sec-btn-bg: rgba(255, 255, 255, 0.5);
    --sec-btn-font-color: #000;
    --sec-btn-border-color: rgba(0, 0, 0, 0.1);
    --sec-btn-hover-bg: rgba(7, 138, 226, 0.1);
    --sec-btn-hover-border-color: rgba(0, 100, 168, 0.5);
    --input-bg: rgba(255, 255, 255, 0.5);
    --input-font-color: #000;
    --input-border-color: rgba(0, 0, 0, 0.1);
    --input-hover-border-color: rgba(0, 100, 168, 0.5);
    --graph-bg: #f9f9fb;
    --menu-bg: rgba(255, 255, 255, 0.5);
    --menu-font-color: #000;
    --icon-fill: #2c2c2c;
    --radio-bg: rgba(255, 255, 255, 0.5);
    --radio-font-color: #000;
    --radio-border-color: rgba(0, 0, 0, 0.1);
    --radio-selected-bg: rgba(7, 138, 226, 0.8);
    --radio-selected-font-color: #fff;
    --title-font-color: #000;
    --title-left-color: rgba(7, 138, 226, 0.8);
    --nodes-list-head-hover-color: rgba(0, 0, 0, 0.05);
    --nodes-list-item-hover-color: rgba(0, 0, 0, 0.05);
    --nodes-list-item-highlight-color: rgba(0, 0, 0, 0.1);
    --logo-color: #e3e3e3;
    --none-color: #adadad;
    --none-img-opacity: 0.2;
    --scroll-bar-thumb: rgba(0, 0, 0, 0.2);
}

.light_theme{
    --main-btn-bg: rgba(7, 138, 226, 0.8);
    --main-btn-font-color: #fff;
    --main-btn-border-color: rgba(0, 0, 0, 0.1);
    --main-btn-hover-bg: rgba(0, 100, 168, 0.8);
    --sec-btn-bg: rgba(255, 255, 255, 0.5);
    --sec-btn-font-color: #000;
    --sec-btn-border-color: rgba(0, 0, 0, 0.1);
    --sec-btn-hover-bg: rgba(7, 138, 226, 0.1);
    --sec-btn-hover-border-color: rgba(0, 100, 168, 0.5);
    --input-bg: rgba(255, 255, 255, 0.5);
    --input-font-color: #000;
    --input-border-color: rgba(0, 0, 0, 0.1);
    --input-hover-border-color: rgba(0, 100, 168, 0.5);
    --graph-bg: #f9f9fb;
    --menu-bg: rgba(255, 255, 255, 0.5);
    --menu-font-color: #000;
    --icon-fill: #2c2c2c;
    --radio-bg: rgba(255, 255, 255, 0.5);
    --radio-font-color: #000;
    --radio-border-color: rgba(0, 0, 0, 0.1);
    --radio-selected-bg: rgba(7, 138, 226, 0.8);
    --radio-selected-font-color: #fff;
    --title-font-color: #000;
    --title-left-color: rgba(7, 138, 226, 0.8);
    --nodes-list-head-hover-color: rgba(0, 0, 0, 0.05);
    --nodes-list-item-hover-color: rgba(0, 0, 0, 0.05);
    --nodes-list-item-highlight-color: rgba(0, 0, 0, 0.1);
    --logo-color: #e3e3e3;
    --none-color: #adadad;
    --none-img-opacity: 0.2;
    --scroll-bar-thumb: rgba(0, 0, 0, 0.2);
}

.dark_theme{
    --main-btn-bg: rgba(7, 138, 226, 0.8);
    --main-btn-font-color: #fff;
    --main-btn-border-color: rgba(255, 255, 255, 0.1);
    --main-btn-hover-bg: rgba(0, 100, 168, 0.8);
    --sec-btn-bg: rgba(0, 0, 0, 0.1);
    --sec-btn-font-color: #fff;
    --sec-btn-border-color: rgba(255, 255, 255, 0.1);
    --sec-btn-hover-bg: rgba(7, 138, 226, 0.1);
    --sec-btn-hover-border-color: rgba(0, 100, 168, 0.5);
    --input-bg: rgba(0, 0, 0, 0.1);
    --input-font-color: #fff;
    --input-border-color: rgba(255, 255, 255, 0.1);
    --input-hover-border-color: rgba(0, 100, 168, 0.5);
    --graph-bg: #3c3f41;
    --menu-bg: rgba(44, 44, 44, 0.5);
    --menu-font-color: #fff;
    --icon-fill: #fff;
    --radio-bg: rgba(0, 0, 0, 0.1);
    --radio-font-color: #fff;
    --radio-border-color: rgba(255, 255, 255, 0.1);
    --radio-selected-bg: rgba(7, 138, 226, 0.8);
    --radio-selected-font-color: #fff;
    --title-font-color: #fff;
    --title-left-color: rgba(7, 138, 226, 0.8);
    --nodes-list-head-hover-color: rgba(255, 255, 255, 0.05);
    --nodes-list-item-hover-color: rgba(255, 255, 255, 0.05);
    --nodes-list-item-highlight-color: rgba(255, 255, 255, 0.1);
    --logo-color: #5e5e5e;
    --none-color: #adadad;
    --none-img-opacity: 0.2;
    --scroll-bar-thumb: rgba(255, 255, 255, 0.2);
}